{% extends "forgot_password.html" %}

{% block content %}
<body>
    {% if messages %} 
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    <div class="container forgot-pass-container">
        <p style="font-size: 32px; font-weight: bold; padding-top: 20px;">Set a New Password</p>
        <form method="POST">
            {% csrf_token %}
            <p class="login_content" style="text-align: left;">Enter Password: </p>
            <input class="form-field" type="password" name="password" value="" required oninput="validatePassword()" onkeydown="checkEnter(event)">
            
            <p class="login_content" style="text-align: left;">Confirm Password: </p>
            <input class="form-field" type="password" name="confirm_password" required value="" oninput="validatePassword()" onkeydown="checkEnter(event)">
            <button type="submit" class="send-code-btn">Change Password</button>
        </form>
    </div>
</body>
{% endblock %}